* {
    margin: 0;
}
.main{
    position: relative;
    top: 350px;
    left: 250px;
    padding: 30px;
    background-color: rgb(245, 244, 243);
    box-shadow: 5px 5px 10px 10px pink;
    height: 200px;
    width: 200px;
}
