

form {
    color: rgba(17, 1, 6, 0.801);
}
form {
    font-weight: bolder;
}

form {
    background-repeat: repeats;
}
body {
    background-color: rgb(20, 89, 236);
}

.project {
    background-color: white;
    width: fit-content;
    padding: 10px 70px 10px 70px;
    margin: 300px 800px; 
    border-radius: 30px;
}

input {
    padding: 15px;
    border-radius: 10px;
    color: rgb(1, 5, 14);

}
input[type="button"]
{
    background-color: rgb(40, 70, 241);
    padding: 15px;
    color: white;
    position: relative;
    left: 0px;
    width: 200px;
}

h2 {
    text-align: center;
    background-color: ; 
}